body {
  background: #eee;
}

#main h1 {
  color: #444;
  text-align: center;
}

#main {
  padding: 10px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#book-list {
  padding: 0px;
}

#book-list li {
  display: inline-block;
  margin: 10px;
  padding: 13px;
  border-radius: 5px;
  border: solid 1px #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 50);
  cursor: pointer;
  color: #880e4f;
}

form {
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 30%;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form .label {
  text-align: right;
  padding: 6px;
}

form select,
form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 2rem;
  background: #ad1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: 30px;
  float: right;
  bottom: 10px;
  left: 10px;
}

#book-detail {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
}
